<!DOCTYPE html>
<html>
	<head lang="en">
		<link rel="shortcut icon" href="http://www.iconj.com/ico/p/3/p3sqc11sxs.ico" type="image/x-icon" />
		<meta charset="utf-8">
		<title>{% block title %} Template {% endblock %}</title>

		{% load staticfiles %}
			<script src="{% static "js/jquery-1.10.2.min.js" %}">
			</script>
		<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}" media="screen" />
		{% block head %}{% endblock %}
	</head>
	<body>
		<div id="header">
			<table border="0" id="header-table" class="center">
				<tr height="60">
					<td id="logo"><center><a href="/home/"> <img src="{% static "css/logo.png" %}" style="margin-top:-10px;" /></a></center></td>
					<td id="search">
						<form>
							<table style="width: 100%;">
								<tr>
									<td width="70" align="right"> <text> Search </text> </td>
									<td><input type="text" id="search-input" style="width:100%;"/></td>
									<td width="50" align="left"><input type="submit" value="Go" class=/> </td>
								</tr>
							</table>
						</form>
					</td>
					<td id="user" style="color:#ffffff">
						{% if user.is_authenticated %}
						<p style="font-size: 10px">Logged in as <a href="/profile/" style="color:#ffffff">{{user.username}}</a><br />
						<a href="/logout/" alt="Log out"><button id="logout_button" style="font-size: 10px">Log Out</button></a></p>
						{% else %}
						<form id="login_form" method="post" action="/login/">
							{% csrf_token %}
							<input type="text" name="username" value="" placeholder="Username" style="font-size: 10px"><br />
  							<input type="password" name="password" value="" placeholder="Password" style="font-size: 10px"><br />
  							<input type="submit" name="submit" value="Log in" style="font-size: 10px">
  							<a href="/register/" style="color:#ffffff">Register</a><br />
  						</form>
  						{% endif %}
					</td>
				</tr> 
			</table>
		</div>
		<div id="navbar">
			<table width="600" border="0" style="padding-top: 5px; font-size:14px;" class="center">
				<tr height="25" >
					<td width="70"><a href="/home/">Home</a</td>
					<td width="70"><a href="/about/">About Us</a</td>
					<td width="70"><a href="/contact/">Contact</a</td>
				</tr>
			</table>
		</div>
		<div id="container">
			<div id="side-bar">
				<h1>Categories</h1>
				<ul id="categories">
					<li> <a href="/category/audio/"> Audio & Stereo </a> </li> 
					<li> <a href="/category/baby/"> Baby & Kids Stuff </a> </li> 
					<li> <a href="/category/media/"> CDs, DVDs, Games & Books </a> </li> 
					<li> <a href="/category/fash/"> Clothes, Footwear & Accessories </a> </li> 
					<li> <a href="/category/tech/"> Computers & Software </a> </li> 
					<li> <a href="/category/home/"> Home & Garden </a> </li> 
					<li> <a href="/category/music/"> Music & Instruments </a> </li> 
					<li> <a href="/category/offic/"> Office Furniture & Equipment </a> </li> 
					<li> <a href="/category/phone/"> Phones, Mobile Phones & Telecom </a> </li> 
					<li> <a href="/category/sport/"> Sports, Leisure & Travel </a> </li> 
					<li> <a href="/category/scrns/"> TV, DVD & Cameras </a> </li> 
					<li> <a href="/category/games/"> Video Games & Consoles </a> </li> 
					<li> <a href="/category/na/"> Other </a> </li>
				</ul>
			</div>
			<div id="content"> {% block content %} {% endblock %} </div>
		</div>
		<div id="footer">{% block footer %}{% endblock %}</div>
	</body>
</html>