<!DOCTYPE html>
<html>
	<head lang="en">
		<meta charset="utf-8">
		<title>{% block title %} Template {% endblock %}</title>
		<link rel="stylesheet" type="text/css" href="css/style.css" media="screen" />
	</head>
	<body>
		<div id="header">
			<table border="0" id="header-table" class="center">
				<tr height="60">
					<td id="logo"><center>Logo</center></td>
					<td id="search">
						<form>
							<table style="width: 100%;">
								<tr>
									<td width="70" align="right"> <text> Search </text> </td>
									<td><input type="text" id="search-input" style="width:100%;"/></td>
									<td width="50" align="left"><input type="submit" value="Go" class=/> </td>
								</tr>
							</table>
						</form>
					</td>
					<td id="user">{% block user_login %}&nbsp;{% endblock %}</td>
				</tr> 
			</table>
		</div>
		<div id="navbar">
			<table width="600" border="0" style="padding-top: 5px; font-size:14px;" class="center">
				<tr height="25" >
					<td width="70"><a href="#">Home</a</td>
					<td width="70"><a href="#">About Us</a</td>
					<td width="70"><a href="#">Contact</a</td>
				</tr>
			</table>
		</div>
		<div id="container">
			<div id="side-bar">
				<h1>Categories</h1>
				<ul id="categories">
					<li> <a href="#"> Audio & Stereo </a> </li> 
					<li> <a href="#"> Baby & Kids Stuff </a> </li> 
					<li> <a href="#"> CDs, DVDs, Games & Books </a> </li> 
					<li> <a href="#"> Clothes, Footwear & Accessories </a> </li> 
					<li> <a href="#"> Computers & Software </a> </li> 
					<li> <a href="#"> Home & Garden </a> </li> 
					<li> <a href="#"> Music & Instruments </a> </li> 
					<li> <a href="#"> Office Furniture & Equipment </a> </li> 
					<li> <a href="#"> Phones, Mobile Phones & Telecom </a> </li> 
					<li> <a href="#"> Sports, Leisure & Travel </a> </li> 
					<li> <a href="#"> TV, DVD & Cameras </a> </li> 
					<li> <a href="#"> Video Games & Consoles </a> </li> 
					<li> <a href="#"> Other </a> </li>
				</ul>
			</div>
			<div id="content"> {% block content %} {% endblock %} </div>
		</div>
		<div id="footer">{% block footer %}{% endblock %}</div>
	</body>
</html>