<!DOCTYPE html>
<html>
	<head lang="en">
		<meta charset="utf-8">
		<title>{% block title %} Template {% endblock %}</title>

		{% load staticfiles %}
			<script src="{% static "js/jquery-1.10.2.min.js" %}">
			</script>
		<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}" media="screen" />
		{% block head %}{% endblock %}
	</head>
	<body>
		<div id="header">
			<table border="0" id="header-table" class="center">
				<tr height="60">
					<td id="logo"><center>Logo</center></td>
					<td id="search">
						<form>
							<table style="width: 100%;">
								<tr>
									<td width="70" align="right"> <text> Search </text> </td>
									<td><input type="text" id="search-input" style="width:100%;"/></td>
									<td width="50" align="left"><input type="submit" value="Go" class=/> </td>
								</tr>
							</table>
						</form>
					</td>
					<td id="user">{% block user_login %}&nbsp;{% endblock %}</td>
				</tr> 
			</table>
		</div>
		<div id="navbar">
			<table width="600" border="0" style="padding-top: 5px; font-size:14px;" class="center">
				<tr height="25" >
					<td width="70"><a href="#">Home</a</td>
					<td width="70"><a href="#">About Us</a</td>
					<td width="70"><a href="#">Contact</a</td>
				</tr>
			</table>
		</div>
		<div id="container">
			<div id="side-bar">
				<h1>Categories</h1>
				<ul id="categories">
					<li> <a href="/category/audio/"> Audio & Stereo </a> </li> 
					<li> <a href="/category/baby/"> Baby & Kids Stuff </a> </li> 
					<li> <a href="/category/media/"> CDs, DVDs, Games & Books </a> </li> 
					<li> <a href="/category/fash/"> Clothes, Footwear & Accessories </a> </li> 
					<li> <a href="/category/tech/"> Computers & Software </a> </li> 
					<li> <a href="/category/home/"> Home & Garden </a> </li> 
					<li> <a href="/category/music/"> Music & Instruments </a> </li> 
					<li> <a href="/category/offic/"> Office Furniture & Equipment </a> </li> 
					<li> <a href="/category/phone/"> Phones, Mobile Phones & Telecom </a> </li> 
					<li> <a href="/category/sport/"> Sports, Leisure & Travel </a> </li> 
					<li> <a href="/category/scrns/"> TV, DVD & Cameras </a> </li> 
					<li> <a href="/category/games/"> Video Games & Consoles </a> </li> 
					<li> <a href="/category/na/"> Other </a> </li>
				</ul>
			</div>
			<div id="content"> {% block content %} {% endblock %} </div>
		</div>
		<div id="footer">{% block footer %}{% endblock %}</div>
	</body>
</html>