{% extends "base.html" %}
{% block title %} Register {% endblock %}
{% block head %}
{% load staticfiles %}
      


{% endblock %}
  {% block content %}
    <h1> Contact Us </h1>
    <form role="form" action="" method="post">
      {% csrf_token %}
      {% for field in form %}
      	
      	{% if field.name == "message" %}
      	 <textarea class="input-text" type="text" rows="8" cols="100" name="{{ field.name }}" id="id_{{ field.name }}" placeholder="{% if not form.value %}{{ field.label|capfirst }}{% endif %}" value="{% if field.value %}{{ field.value }}{% endif %}"></textarea><br>
      	
      	{% else %}		
        
        <input class="input-text" type="text" name="{{ field.name }}" id="id_{{ field.name }}" placeholder="{% if not form.value %}{{ field.label|capfirst }}{% endif %}" value="{% if field.value %}{{ field.value }}{% endif %}"><br>

        {% endif %}
      
      {% endfor %}
      <input type="submit" id="register" value="Send"/>
    </form>
  {% endblock %}  