{% extends "base.html" %}
{% block title %} Register {% endblock %}
{% block head %}
{% load staticfiles %}
      


{% endblock %}
  {% block content %}
    <h1> Contact Us </h1>
    <form role="form" action="" method="post">
      {% csrf_token %}
      <table>
      	<tr>
	      	<td>
	      		Name:
	      	</td>
	      	<td>
	      		{{ form.name }}
	      	</td>
      	</tr>
      	<tr>
      		<td>
      			Email:
	      	</td>
	      	<td>
	      		{{ form.email }}
	      	</td>
      	</tr>
      	<tr>
      		<td>
      			Subject:
	      	</td>
	      	<td>
	      		{{ form.subject }}
	      	</td>
      	</tr>
      	<tr>
      		<td style="vertical-align:top">
      			Message:
	      	</td>
	      	<td>
	      		{{ form.message }}
	      	</td>
      	</tr>
      </table>
      <input type="submit" id="register" value="Send"/>
    </form>
  {% endblock %}  