{% extends "base.html" %}
{% block title %} Create Auction {% endblock %}
{% block head %}
<script>
	$(document).ready(function()
	{
		$(".editable").change(function()
		{
			$("#"+$(this).attr("name")).html($(this).val());
		});
		$("#next1").click(function()
		{
			$("#product_info").css("display","none");
			$("#auction_info").css("display","block");
		});
		$("#next2").click(function()
		{
			$("#auction_info").css("display","none");
			$("#confirmation").css("display","block");
		});
		$("#previous1").click(function()
		{
			$("#auction_info").css("display","none");
			$("#product_info").css("display","block");
		});
		$("#previous2").click(function()
		{
			$("#confirmation").css("display","none");
			$("#auction_info").css("display","block");
		});
	});
</script>
{% endblock %}
{% block content %}
	<ol class="steps">
	    <li class="step1 current">Product Information</li>
	    <li class="step2 ">Auction Information</li>
	    <li class="step3 ">Confirmation</li>
	</ol><br>
	<fieldset id="product_info">
		<legend>Product Information</legend>
		<table>
			<tr>
				<td>Category:
				</td>
				<td></td>
			</tr>
			<tr>
				<td>Title:
				</td>
				<td>
					<input class="editable" name="prod_title" type="text" placeholder="Title"/>
				</td>
			</tr>
			<tr>
				<td>Description:
				</td>
				<td>
					<input class="editable" name="prod_desc" type="text" placeholder="Description"/>
				</td>
			</tr>
		</table>
		<a id="next1" href="#">Next</a>
	</fieldset>
	<fieldset id="auction_info" style="display:none">
		<legend>Auction Information</legend>
		<table>
			<tr>
				<td>Type:
				</td>
				<td></td>
			</tr>
			<tr>
				<td>End Date:
				</td>
				<td>
					<input class="editable" name="auct_end_date" type="text" placeholder="End Date"/>
				</td>
			</tr>
			<tr>
				<td>Starting Price:
				</td>
				<td>
					<input class="editable" name="auct_start_price" type="text" placeholder="Starting Price"/>
				</td>
			</tr>
		</table>
		<a id="previous1" href="#">Previous</a> 
		<a id="next2" href="#">Next</a>
	</fieldset>
	<fieldset id="confirmation" style="display:none">
		<legend>Confirmation</legend>
		<table>
			<tr>
				<td>Product Category:
				</td>
				<td  id="prod_cat"></td>
			</tr>
			<tr>
				<td>Product Title:
				</td>
				<td id="prod_title"></td>
			</tr>
			<tr>
				<td>Product Description:
				</td>
				<td id="prod_desc">
				</td>
			</tr>
			<tr>
				<td>Auction Type:
				</td>
				<td id="auct_type">
				</td>
			</tr>
			<tr>
				<td>Auction End Date:
				</td>
				<td id="auct_end_date">
				</td>
			</tr>
			<tr>
				<td>Auction Starting Price</td>
				<td id="auct_start_price"></td>
			</tr>
		</table>
		<a id="previous2" href="#">Previous</a> 
		<a id="confirm" href="#">Confirm</a> 
	</fieldset>
{% endblock %}