{% extends "base.html" %}
{% block title %} Create Auction {% endblock %}
{% block head %}
<style type="text/css">
/*custom font*/
@import url(http://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/
* {margin: 0; padding: 0;}
/*form styles*/
#progressbar {
	width: 400px;
	margin: 50px auto;
	text-align: center;
	position: relative;
}
/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: black;
	text-transform: uppercase;
	font-size: 9px;
	width: 33.33%;
	float: left;
	position: relative;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #27AE60;
	color: white;
}

</style>
<script>
	$(document).ready(function()
	{
		$(".editable").change(function()
		{
			$("#"+$(this).attr("name")).html($(this).val());
		});
		$("#next1").click(function()
		{
			next_fs = $(this).parent().next();
	
			//activate next step on progressbar using the index of next_fs
			$("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");
			$("#product_info").css("display","none");
			$("#auction_info").css("display","block");
		});
		$("#next2").click(function()
		{
			next_fs = $(this).parent().next();
	
			//activate next step on progressbar using the index of next_fs
			$("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");
			$("#auction_info").css("display","none");
			$("#confirmation").css("display","block");
		});
		$("#previous1").click(function()
		{
			current_fs = $(this).parent();
	
			//de-activate current step on progressbar
			$("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");
			$("#auction_info").css("display","none");
			$("#product_info").css("display","block");
		});
		$("#previous2").click(function()
		{
			current_fs = $(this).parent();
	
			//de-activate current step on progressbar
			$("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");
			$("#confirmation").css("display","none");
			$("#auction_info").css("display","block");
		});
	});
</script>
{% endblock %}
{% block content %}
	<!-- progressbar -->
	<ul  id="progressbar">
		<li class="active">Product Information</li>
		<li>Auction Information</li>
		<li>Confirmation</li>
	</ul><br>
	<fieldset id="product_info">
		<legend>Product Information</legend>
		<table>
			<tr>
				<td>Category:
				</td>
				<td></td>
			</tr>
			<tr>
				<td>Title:
				</td>
				<td>
					<input class="editable" name="prod_title" type="text" placeholder="Title"/>
				</td>
			</tr>
			<tr>
				<td>Description:
				</td>
				<td>
					<input class="editable" name="prod_desc" type="text" placeholder="Description"/>
				</td>
			</tr>
		</table>
		<a id="next1" href="#">Next</a>
	</fieldset>
	<fieldset id="auction_info" style="display:none">
		<legend>Auction Information</legend>
		{{form.as_p}}
		<a id="previous1" href="#">Previous</a> 
		<a id="next2" href="#">Next</a>
	</fieldset>
	<fieldset id="confirmation" style="display:none">
		<legend>Confirmation</legend>
		<table>
			<tr>
				<td>Product Category:
				</td>
				<td  id="prod_cat"></td>
			</tr>
			<tr>
				<td>Product Title:
				</td>
				<td id="prod_title"></td>
			</tr>
			<tr>
				<td>Product Description:
				</td>
				<td id="prod_desc">
				</td>
			</tr>
			<tr>
				<td>Auction Type:
				</td>
				<td id="auct_type">
				</td>
			</tr>
			<tr>
				<td>Auction End Date:
				</td>
				<td id="auct_end_date">
				</td>
			</tr>
			<tr>
				<td>Auction Starting Price</td>
				<td id="auct_start_price"></td>
			</tr>
		</table>
		<a id="previous2" href="#">Previous</a> 
		<a id="confirm" href="#">Confirm</a> 
	</fieldset>
{% endblock %}