{% extends "base.html" %}
{% block title %} Home {% endblock %}
{% block head %}
    {% load staticfiles %}
    <script src="{% static "js/show-details.js" %}"> </script>
{% endblock %}
{% block content %}

  <h1> Welcome! </h1>

  <p>Here is the list of the latest auctions!</p>

  {% for auction in auctions %}
   <div class="out enterleave">
        <div style="height: 250px;">
            <a href="/auction/{{auction.id}}"><img src="{% static "css/no_image.png" %}" width="150" height="150" border="1"/></a>
            <p> <a href="/auction/{{auction.id}}"> {{ auction.product.title }} </a> </p> </div>
        <div class="hidden">
            <table>
                <tr><td>
                    {% if auction.auction_type == "SEAL" or auction.auction_type == "VICK" %}
                        Start Price: {{auction.start_price}}
                    {% else %}
                        {% if auction.winning_bid %}
                            Last Bid: {{auction.winning_bid}}
                        {% else %}
                            Start Price: {{auction.start_price}}
                        {% endif %}
                        
                    {% endif%}
                    </td></tr>
                <tr><td>Auction Type:
                    {% if auction.auction_type == "SEAL" %}
                        Sealed Bid
                    {% else %}
                        {% if auction.auction_type == "BRIT" %}
                            British
                        {% else %}
                            Vickrey
                        {% endif %}
                    {% endif%}
                </td></tr>
                <tr><td>
                    End: {{auction.date_end|date:"d/m/y H:i"}}
                </td></tr>
            </table>
            
        </div>
    </div>

  {% endfor %}




{% endblock %}