{% extends "base.html" %}
{% block title %} Home {% endblock %}
{% block head %}
    {% load staticfiles %}
    <script src="{% static "js/show-details.js" %}"> </script>
{% endblock %}
{% block content %}

  <h1> Welcome! </h1>

  <p>Here is the list of the latest auctions!</p>

  <table id="auction_list"><tr>
  {% for auction in auctions %}
    <td>{{ auction.product.title }}</td>
  {% endfor %}
  </tr></table>

    <div class="out enterleave">
        <div style="height: 250px;">
            <a href="#"><img src="#" width="150" height="150" border="0"/></a>
            <p> <a href="#">AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</a> </p> </div>
        <div class="hidden">
            <table>
                <tr><td>Price: $898989</td></tr>
                <tr><td>b</td></tr>
                <tr><td>c</td></tr>
            </table>
            
        </div>
    </div>


{% endblock %}