{% extends "base.html" %}
{% block title %} Register {% endblock %}

  {% if register_problem %}
  <p>There was a problem with your registration. Please, try again</p>
  {% if username_in_use %}<p style="color:#ff0000">The username provided is already in use</p>{% endif %}
  {% if email_in_use %}<p style="color:#ff0000">The email provided is already in use</p>{% endif %}
  {% endif %}
  {% block content %}
    <p class="titulo3 font_gibson text_color5 right_titulo_align">REGISTRATION</p>
    <form role="form" action="" method="post">
      {% csrf_token %}
      {% for field in form %}
      <div class="form-group contract_form {% if field.errors %}has-error{% endif %}">
        <input type="text" name="{{ field.name }}" id="id_{{ field.name }}" placeholder="{% if not field.value %}{{ field.label|capfirst }}{% endif %}" value="{% if field.value %}{{ field.value }}{% endif %}" class="form-control font_source_semibold contract_field_width">
      </div>
      {% endfor %}
      <input type="submit" value="REGISTER">
    </form>
  {% endblock %}