{% extends "base.html" %}
{% block title %} Register {% endblock %}

  {% if register_problem %}
  <p>There was a problem with your registration. Please, try again</p>
  {% if username_in_use %}<p style="color:#ff0000">The username provided is already in use</p>{% endif %}
  {% if email_in_use %}<p style="color:#ff0000">The email provided is already in use</p>{% endif %}
  {% endif %}
  {% block content %}
    <h1> Registration </h1>
    <form role="form" action="" method="post">
      <input type="text" name="username" id="id_username"
      placeholder="{% if not form.username.value %}{{ form.username.label|capfirst }}{% endif %}" value="{% if form.username.value %}{{ form.username.value }}{% endif %}"/><br>
         <input type="text" name="email" id="id_email"
      placeholder="{% if not form.email.value %}{{ form.email.label|capfirst }}{% endif %}" value="{% if form.email.value %}{{ form.email.value }}{% endif %}"/><br>
         <input type="password" name="password1" id="id_password1"
      placeholder="{% if not form.password1.value %}{{ form.password1.label|capfirst }}{% endif %}" value="{% if form.password1.value %}{{ form.password1.value }}{% endif %}"/><br>
               <input type="password" name="password2" id="id_password2"
      placeholder="{% if not form.password2.value %}{{ form.password2.label|capfirst }}{% endif %}"/><br>
      <input type="submit" value="Register">
    </form>
  {% endblock %}  